/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

body {
  background: #c3a2e2;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
}
